<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>
    <h1><i> Welcome to the School Login</i></h1>
    <p>Please Enter your login information</p>
    <div class="container">
        <h1>Please login</h1>
        <br>
        <form action="/login" method="post">
            <input type="text" placeholder="Username" name="username" id="username">
            <input type="password" placeholder="Password" name="password" id="password">
            <input class="button" type="submit" value="login">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
</body>

</html>