<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>studentHome</title>
</head>

<body>
    <p><strong>Welcome to the Student Home</strong></p>
    <p>Hey, there {{name}}</p>
    <p>What do you want to do?</p>
    <p><a href="{{ url_for('classesMenu', username=username) }}"><button class="grey" style="height: 75px; width: 150px;">My Classes</button></a></p>
    <p><a href="{{ url_for('gradesMenu', username=username) }}"><button class="grey" style="height: 75px; width: 150px;">My Grades</button></a></p>
    <p><a href="{{ url_for('infoMenu', username=username) }}"><button class="grey" style="height: 75px; width: 150px;">My Info</button></a></p>
    <p><a href="{{ url_for('logout', username=username) }}"><button class="grey" style="height: 75px; width: 150px;">Log Out</button></a></p>

</body>

</html>