<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="popUp.js"></script>
    <link rel="stylesheet" href="popUpform.css">
    <title>User Info</title>
</head>

<body>
    <h1><i>User {{username}} Personal information</i></h1>
    <table style="height: 309px; margin-left: auto; margin-right: auto; border: none; width: 613px;" cellspacing="0"
        cellpadding="0">
        <tbody>
            <tr style="height: 17.575px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;
                    <button class="open-button" onclick="openNameForm()">Edit</button></td>
                <td style="width: 129.863px; height: 17.575px;">&nbsp;First Name:</td>
                <td style="width: 165.6px; height: 17.575px;"><p>&nbsp;{{firstName}}</p></td>

                <td style="width: 44.675px; height: 17.575px;">&nbsp;</td>
                <td style="width: 104.012px; height: 17.575px;">&nbsp;Middle Name:</td>
                <td style="width: 121.225px; height: 17.575px;">&nbsp;{{middleName}}</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;</td>
                <td style="width: 129.863px; height: 32px;" colspan="1">&nbsp;Last Name</td>
                <td style="width: 479.938px; height: 32px;" colspan="4">&nbsp;{{lastName}}</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 38.025px; height: 32px;">&nbsp;</td>
                <td style="width: 129.863px; height: 32px;">&nbsp;Birth Date:</td>
                <td style="width: 165.6px; height: 32px;">&nbsp;{{birthDate}}</td>

                <td style="width: 44.675px; height: 32px;">&nbsp;</td>
                <td style="width: 104.012px; height: 32px;">&nbsp;Blood Type:</td>
                <td style="width: 121.225px; height: 32px;">&nbsp;{{bloodType}}</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;
                    <button class="open-button" onclick="openEmailForm()">Edit</button></td>
                <td style="width: 129.863px; height: 32px;" colspan="1">&nbsp;Email:</td>
                <td style="width: 479.938px; height: 32px;" colspan="5">&nbsp;{{email}}</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;
                    <button class="open-button" onclick="openAddressForm()">Edit</button></td>
                <td style="width: 129.863px; height: 32px;" colspan="1">&nbsp;Address:</td>
                <td style="width: 479.938px; height: 32px;" colspan="5">&nbsp;{{address}}</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;
                    <button class="open-button" onclick="openNumberForm()">Edit</button></td>
                <td style="width: 129.863px; height: 32px;" colspan="1">&nbsp;Contact Number:</td>
                <td style="width: 479.938px; height: 32px;" colspan="5">&nbsp;{{number}}</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;
                    <button class="open-button" onclick="openExtraForm()">Edit</button></td>
                <td style="width: 611.4px; height: 32px;" colspan="6">&nbsp;Additional Information:</td>
            </tr>
            <tr style="height: 32px;">
                <td style="width: 44.675px; height: 32px;">&nbsp;{{extra}}</td>
                <td style="width: 611.4px; height: 32px;" colspan="6">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <!-- Name Form -->
    <div class="popUpForm" id="nameForm">
        <form action="/action_page.php" class="form-container">
            <h1>Update Name Information</h1>

            <label for="text"><b>First Name</b></label>
            <input type="text" placeholder={{firstName}} name="firstName" required>

            <label for="text"><b>Middle Name</b></label>
            <input type="text" placeholder={{middleName}} name="middleName" required>

            <label for="text"><b>Last Name</b></label>
            <input type="text" placeholder={{lastName}} name="lastName" required>

            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeNameForm()">Close</button>
        </form>
    </div>

    <!-- Email Form -->
    <div class="popUpForm" id="emailForm">
        <form action="/action_page.php" class="form-container">
            <h1>Update Email Information</h1>
    
            <label for="text"><b>Email</b></label>
            <input type="email" placeholder={{email}} name="email" required>
    
            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeEmailForm()">Close</button>
        </form>
    </div>

    <!-- Address Form -->
    <div class="popUpForm" id="addressForm">
        <form action="/action_page.php" class="form-container">
            <h1>Update Address Information</h1>
    
            <label for="text"><b>Address</b></label>
            <input type="text" placeholder={{address}} name="address" required>
    
            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeAddressForm()">Close</button>
        </form>
    </div>

    <!-- Number Form -->
    <div class="popUpForm" id="numberForm">
        <form action="/action_page.php" class="form-container">
            <h1>Update Contact Number Information</h1>
    
            <label for="text"><b>Contact Number</b></label>
            <input type="cel" placeholder={{number}} name="number" required>
    
            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeNumberForm()">Close</button>
        </form>
    </div>

    <!-- Extra Form -->
    <div class="popUpForm" id="extraForm">
        <form action="/action_page.php" class="form-container">
            <h1>Update Additional Information</h1>
    
            <label for="text"><b>Additional Information</b></label>
            <input type="text" placeholder={{extra}} name="extra" required>
    
            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeExtraForm()">Close</button>
        </form>
    </div>
</body>

</html>